#output>table{
    background-color: rgb(165, 44, 44);
    border-radius: 0;
    max-width: 800px;
    margin: auto;
}
.abilities{
    background: none;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    text-align: center;
}
.abilities td+td { border-left: 2px solid rgb(0, 106, 106); } 

.name {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

#next-pkmn {float: right}
#prev-pkmn {float: left;}

.abilities, .dex-no, .flavor-text, .name, .sprite, .types{
    border: 5px solid teal;
    border-radius: 4px;
    background: linear-gradient(to top, lightblue, teal);
    padding: 10px;
}

.sprite>img{
    height: 150px;
    width: auto;
}

.types>img{
    border: 5px solid teal;
    border-radius: 4px;
    width: 100px;
}

#page-header>*{
    text-align: center;
}

.flavor-text>*, .dex-no{
    font-family: 'Courier New', Courier, monospace;
}
